<app-title>Dashboard</app-title>
<div *ngIf="isLoading(); else chartContent">
  <p>Loading...</p>
</div>

<ng-template #chartContent>
  <div class="flex flex-col md:flex-row gap-4">
    <app-chart
      [options]="areaOptions"
      [input_option]="static_option"
      [InputMonth]="InputMonth"
      [InputYear]="InputYear"
      [InputAirline]="InputAirline"
      [InputStatus]="InputStatus"
      (userIdSearch)="onUserIdSearch($event)"
      (optionSelected)="onOptionSelected($event)"
      (monthSelected)="onMonthSelected($event)"
      (yearSelected)="onYearSelected($event)"
      (clickDownload)="onClickDownload()"
      (airlineSelected)="onAirlineSelected($event)"
      (statusSelected)="onStatusSelected($event)"
    ></app-chart>
    <app-pie-chart [pieData]="pieOptions"></app-pie-chart>
    <app-column-chart
      [columnData]="columnOptions"
      [inputZone]="InputZone"
      (zoneSelected)="onZoneSelected($event)"
    ></app-column-chart>
  </div>
</ng-template>
