<div
  class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
>
  <div class="flex justify-between">
    <h5
      class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2"
    >
      Conteo de BDOs por {{ input_option.label }}
    </h5>

    <button
      *ngIf="
        actual_option.value === 'monthly' || actual_option.value === '15 days'
      "
      class="w-1/12"
      type="button"
      name="print"
      title="Imprimir reporte"
      (click)="onClickPrint()"
    >
      <img src="../../../assets/download.png" class="text-gray-300" />
    </button>
  </div>
  <div id="area-chart"></div>
  <div
    class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between"
  >
    <div class="flex justify-between items-center pt-5">
      <!-- Button -->
      <div>
        <div class="flex flex-row space-x-2">
          <div class="flex flex-col w-2/4">
          <label
            for="airline_filter"
            class="text-sm font-medium text-gray-700 dark:text-gray-400"
            >Aerolínea</label
          >
          <select
            [(ngModel)]="selectedAirline"
            (change)="onAirlineChange()"
            name="airline_filter"
            id="airline_filter"
            class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          >
            <option *ngFor="let airline of airlines" [value]="airline">
              {{ airline }}
            </option>
          </select>
        </div>

        <div class="flex flex-col w-2/4">
          <label
            for="Status_filter"
            class="text-sm font-medium text-gray-700 dark:text-gray-400"
            >Estatus</label
          >
          <select
            [(ngModel)]="selectedStatus"
            (change)="onStatusChange()"
            name="Status_filter"
            id="Status_filter"
            class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          >
            <option *ngFor="let status of statu_lists" [value]="status">
              {{ status }}
            </option>
          </select>
        </div>
        </div>

        <!-- Selector de Filtro -->
        <div class="flex flex-col w-2/4">
          <label
            for="filter-options"
            class="text-sm font-medium text-gray-700 dark:text-gray-400"
            >Filtro</label
          >
          <select
            [(ngModel)]="actual_option"
            (change)="selectOption()"
            class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
            id="filter-options"
            name="filter-options"
          >
            <option
              *ngFor="let option of filter_options; trackBy: trackByFn"
              [ngValue]="option"
            >
              {{ option.label }}
            </option>
          </select>
        </div>

        <!-- Selectores para Mes y Año -->
        <div
          *ngIf="
            actual_option.value === 'monthly' || actual_option.value === 'year'
          "
          class="flex space-x-4 mt-4"
        >
          <!-- Selector de Mes -->
          <select
            *ngIf="actual_option.value === 'monthly'"
            [(ngModel)]="selectedMonth"
            (change)="onMonthChange()"
            class="text-sm font-medium text-gray-500 dark:text-gray-400"
            id="month-selector"
            name="month-selector"
          >
            <option *ngFor="let month of months" [ngValue]="month.value">
              {{ month.name }}
            </option>
          </select>

          <!-- Selector de Año -->
          <select
            [(ngModel)]="selectedYear"
            (change)="onYearChange()"
            class="text-sm font-medium text-gray-500 dark:text-gray-400"
            id="year-selector"
            name="year-selector"
          >
            <option *ngFor="let year of years" [ngValue]="year">
              {{ year }}
            </option>
          </select>
        </div>

        <button
          (click)="toggleUserIdInput()"
          class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2"
        >
          usuario
          <svg
            class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
        </button>

        <div
          [ngClass]="{
            show: isUserIdInputVisible,
            hide: !isUserIdInputVisible
          }"
          class="mt-2 transition"
        >
          <input
            type="text"
            [(ngModel)]="userId"
            placeholder="Ingrese Id del usuario"
            class="mt-2 p-2 w-11/12 border rounded"
            id="user-id-input"
            name="user-id-input"
          />
          <button
            (click)="searchByUserId()"
            class="mt-2 p-2 bg-blue-600 text-white rounded"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
